.appointments {
  display: flex;
  background-color: #fff;
  width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  background-image: url(https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
}
